/* nav-section */
.nav-container{
  height: 55px;
}
.navbar-brand{
  padding-right: 3%;
  padding-left: 5%;
}
.button{
  width: 120px;
  height: 45px;
  padding: 10px;
  margin-right: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 12px;
  background-color: #FFFFFF;
  font-size: 1.1rem;
  border: none;
  border: 1px solid #000000;
}
.count{
  color: #fff;
  width: 25px;
  height: 25px;
  font-weight: 600;
  background-color: #000;
  border-radius: 50%;
  font-size: 1rem;
}
.fa-shopping-cart{
  margin-right: 5px;
}
.button:hover{
  background-color: #000000;
  color: #FFFFFF;
  transition: 0.9s;
}
/* banner-section */

.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background-color: #212529;
  height: 45vh;
  width: auto;
}
.banner >h1{
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 1.4;
}
.banner >h4{
  font-size: 1.3rem;
  color: #909294;
}

/* FancyProduct-card */
.card{
  text-align: center;
  margin-bottom: 50px;
}
.card:hover{
  box-shadow: 7px 4px 45px 19px rgba(194,194,194,1);
  transform: translateY(-10px);
  transition: ease-out .5s;
  cursor: pointer;
}
.card-titles{
  font-weight: 700;
}
.container{
  width: auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 9%;
}
.card-button{
  margin-top: 45px;
  margin-bottom: 12px;
  border: 1px solid #000000;
  background-color: #FFFFFF;
  width: 120px;
  height: 40px;
  padding: 5px;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 10px;
}
.card-button:hover, .card-button-2:hover{
  color: #FFFFFF;
  background-color: #000000;
  transition: 0.8s;
}

/* Specialitems-card */
.card-button-2{
  margin-top: 5px;
  margin-bottom: 12px;
  border: 1px solid #000000;
  background-color: #FFFFFF;
  width: 120px;
  height: 40px;
  padding: 5px;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 10px;
}
.normal-price{
  color: rgb(162, 162, 162) !important;
  text-decoration: line-through; 
}
.fa-star{
  color: #FFC107;
}
.sale-btn{
  width: 40px;
  height: auto;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: 720;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  color: #FFFFFF;
  background-color: #000000;
  border: none;
  padding: 2px;
  border-radius: 5px;
}
/* footer-section */
.footer-section{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 0 0;
  height: 16vh;
  width: auto;
  background-color: #212529;
  color: #FFFFFF;
}